*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$body-color: hsl(185, 75%, 39%);

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.attribution {
    position: absolute;
    font-size: 11px; text-align: center; 
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.attribution a { color: hsl(228, 45%, 44%); }

body {
    height: 100vh;
    width: 100vw;
    background: hsl(185, 75%, 39%);
}

.bg-top, .bg-bottom {
    width: 500px;
    position: fixed;
    z-index: -1;
}

.bg-top {
    top: -250px;
    left: -300px;
}

.bg-bottom {
    bottom: -250px;
    right: -300px;
}

@media screen and (min-width:600px) {
    .bg-top, .bg-bottom {
        width: 700px;
    }

    .bg-top {
        top: -300px;
        left: -400px;
    }
    
    .bg-bottom {
        bottom: -300px;
        right: -400px;
    }

}

@media screen and (min-width:1000px) {
    .bg-top, .bg-bottom {
        width: 900px;
    }

    .bg-top {
        top: -400px;
        left: -300px;
    }
    
    .bg-bottom {
        bottom: -600px;
        right: -450px;
    }
}

@media screen and (min-width:1400px) {
    .bg-top, .bg-bottom {
        width: 1100px;
    }

    .bg-top {
        top: -500px;
        left: -400px;
    }
    
    .bg-bottom {
        bottom: -650px;
        right: -450px;
    }
}